---
title: Sprite Sheets
weight: 2
---
extends /_layouts/_example
block content
  +example
    #spritespin-example
    script(type='text/javascript' src=spritespinSrc)
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example',
        // Set a single image url as source
        source: 'http://spritespin.ginie.eu/images/bike6x6_big.jpg',
        // Define the size of the display.
        width: 480,
        height: 327,
        // Set the total number of frames to show. The 6x6 sprite might contain 36 images
        // but it only has 34 frames, hence we set it to 34 here
        frames: 34,
        // The 6x6 sprite sheet contains 6 frames in one row.
        framesX: 6,
        // reverse interaction direction
        sense: -1
      })
