---
title: Zoom
---
extends /_layouts/_example
block content
  +example
    #spritespin-example
    script(type='text/javascript' src='/release/spritespin.js')
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', { frame: [1,34], digits: 3 }),
        width: 240,
        height: 163,
        sense: -1,
        animate: false,
        plugins: [
          // display plugin
          '360',
          // interaction plugin
          'drag',
          // zoom plugin, with options
          {
            name: 'zoom',
            options: {
              // Add large version of your images with this property
              // this is optional and if missing, the source images will be used
              source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', { frame: [1,34], digits: 3 }),
              // use mouse wheel to zoom in/out (default is false)
              wheel: true,
              // use double click to in/out (default is true)
              click: true,
              // prevents changing the frame during zoom (default is true)
              pinFrame: true
            }
          }
        ]
      })
