#disqus_thread
script(type="text/javascript" async).
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'spritespin';
  var disqus_url = 'https://spritespin.ginie.eu';
  //var disqus_developer = 1; // 'undefined';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function(){
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
