@import "mixins";
@import "variables";

@import "normalize";
@import "typography";

@import "grid";
@import "blocks";

@import "navigation";

@import "tables";
@import "forms";

@import "buttons";

@import "helpers";
@import "prettyprint";

@import "bower_components/prism/themes/prism-okaidia";
@import "bower_components/prism/plugins/autolinker/prism-autolinker";
@import "bower_components/prism/plugins/line-numbers/prism-line-numbers";

html, body{
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
}

nav.navbar{
  padding: 30px 50px 28px;
  background: #222;
  margin-bottom: 1.65em;
  a{
    color: white;
  }
}
a{
  text-decoration: none;
}
ul.no-bullets {
  list-style: none;
}
pre{
  background: #222 !important;
}
iframe {
  border: none;
}
.padding {
  padding: 1rem;
}
.pl {
  padding: 1rem;
}
.container, ul.container, code{
  width: 960px;
  margin: 0 auto auto;
  display: block;
}
button.example {
  padding: 10px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  color: #48484C;
}

.spritespin-instance.loading{
  background: url('images/ajax-loader.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.blocks-2 li,
.blocks-3 li,
.blocks-4 li,
.blocks-5 li,
.blocks-6 li {
  li {
    float: initial;
    margin: 0;
    padding: 0;
  }
}

#examples-page {
  display: flex;
  position: absolute;
  top: 83px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  .sample-menu {
    flex: 1;
    text-align: right;
    padding: 2rem 1rem;
  }
  .sample-frame {
    flex: 3;
    display: flex;
    flex-direction: column;
    iframe {
      width: 100%;
      flex: 1;
    }
  }
}

.sample-page {
  padding-top: 5rem; 
  padding-bottom: 5rem;
  max-width: 960px;
}
.sample-tabs {
  a {
    padding: 1rem;
    line-height: 1;
    background: #000;
    color: #fff;
    vertical-align: bottom;
    display: inline-block;
    cursor: pointer;
  }
  a:hover{ 
    background: #111;
  }
  a.active{
    background: #222;
    color: #fff;
  }
}
.sample-contents {
  background: #222;
  color: #fff;
  pre {
    margin: 0;
    box-sizing: border-box;
    border-radius: 0;
  }
  code {
    display: inline-block;
    width: auto;
  }
}
