@import "mixins";
@import "variables";

@import "normalize";
@import "typography";

@import "grid";
@import "blocks";

@import "navigation";

@import "tables";
@import "forms";

@import "buttons";

@import "helpers";
@import "prettyprint";

@import "highlight";

html, body{
  -webkit-font-smoothing: subpixel-antialiased;
}

nav.navbar{
  padding: 30px 50px 28px;
  background: #222;
  margin-bottom: 1.65em;
  a{
    color: white;
  }
}
a{
  text-decoration: none;
}
pre{
  background: #222 !important;
}

.container, ul.container, code{
  width: 960px;
  margin: 0 auto auto;
  display: block;
}
button.example {
  padding: 10px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  color: #48484C;
}

.spritespin-instance.loading{
  background: url('images/ajax-loader.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.blocks-2 li,
.blocks-3 li,
.blocks-4 li,
.blocks-5 li,
.blocks-6 li {
  li {
    float: initial;
    margin: 0;
    padding: 0;
  }
}