---
title: Drag
weight: 1
---
extends /_layouts/_example
block content
  +example
    #spritespin-example
    script(type='text/javascript' src=spritespinSrc)
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', { frame: [1,34], digits: 3 }),
        width: 480,
        height: 327,
        sense: -1,
        animate: false,
        plugins: [
          '360',
          'drag'
        ]
      })
