nav {
  position: fixed;
  z-index: 100;
  height: 100%;
  top: 0;
  background: $mainTheme;
  width: 20%;
  min-width: 280px;
  max-width: 330px;

  a {
    color: white;
    text-decoration: none;
  }

  @include breakpoint(big-phone) {
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    @include clearfix;
  }
}

.nav-show {
  overflow: visible;
}

$mobileNavFontSize: 1.6em;
$mobileNavLineHeight: 2.2em;

.name {
  z-index: 100;
  font-size: 2em;
  margin: 30px 0;
  padding-left: 40px;

  @include breakpoint(big-phone) {
    padding-left: 1em;
    margin: 0;
    float: left;
    font-size: $mobileNavFontSize;
    line-height: $mobileNavLineHeight;
  }
}

.menu {
  text-align: right;
  color: white;
  display: none;
  float: right;
  margin: 0;
  padding-right: .5em;
  font-size: $mobileNavFontSize;
  line-height: $mobileNavLineHeight;

  &:hover {
    text-decoration: none;
  }

  @include breakpoint(big-phone) {
    display: block;
  }
}

.nav-links {
  list-style: none;
  background: $mainTheme;
  padding-left: 40px;
  font-size: 1.2em;

  a {
    display: block;
    padding: 0 0 .55em;

    @include breakpoint(big-phone) {
      display: block;
      padding: 0;
      margin: .55em .9em;
    }
  }

  @include breakpoint(big-phone) {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 2.5em;
  }
}

.social-media {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.8em;
  line-height: 2em;

  a {
    margin: 0 10px;

    // This is used to prevent the edges of the icon character from being cut off
    padding: 2px;

    &:hover {
      text-decoration: none;
      color: $baseTextColor;
    }
  }

  @include breakpoint(big-phone) {
    display: none;
  }
}