@import 'compass';
@import 'normalize';
@import 'code';

@import 'base';
@import 'markdown';;
@import 'posts';

button.example {
  padding: 10px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  color: #48484C;
}

.spritespin-instance.loading{
  background: url('images/ajax-loader.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}