mixin example
  - var beforehtml = pug_html;
  - block();
  - var content = pug_html.replace(beforehtml, '');
  - pug_html = beforehtml;
  != content
  pre.example-code: code.language-html= content

doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
    link(rel="stylesheet" href="/index.css")
    block head
body#example-page.text-light.container-md
  block content
  block script
  link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-okaidia.min.css" rel="stylesheet")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js")
