---
title: SpriteSpin
---
extends /_layouts/_example
block content
  +example
    #spritespin-example
    script(type='text/javascript' src='/release/spritespin.js')
    script(src="https://unpkg.com/react@16/umd/react.development.js")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
    script(type='text/javascript').
      class SpriteSpinComponent extends React.Component {

        constructor(props) {
          super(props);
          this.$el = null;
        }

        componentDidMount() {
          // clone the options, to prevent side effects when spritespin sets defaults properties
          const options = Object.assign({}, this.props.options)
          const data = SpriteSpin.spritespin(this.$el, options);
          // get access to the spritespin api
          this.api = data.api
          // get access to the spritespin data object
          this.data = data
        }

        componentDidUpdate() {
          // clone the options, to prevent side effects when spritespin sets defaults properties
          const options = Object.assign({}, this.props.options)
          SpriteSpin.spritespin(this.$el, options);
        }

        componentWillUnmount() {
          SpriteSpin.spritespin(this.$el, 'destroy');
        }

        render() {
          return React.createElement('div', {
            ref: (el) => this.$el = el
          });
        }
      }

      class ParentComponent extends React.Component {
        constructor(props) {
          super(props);
          // options that will be passed to spritespin
          this.options = {
            source: 'http://spritespin.ginie.eu/images/bike6x6_big.jpg',
            width: 480,
            height: 327,
            frames: 34,
            framesX: 6,
            sense: -1
          }
          // the instance of the spritespin component
          this.ssc = null
          // state whether to render spritespin or not
          this.state = {
            show: true,
          };
        }

        onCreateDestroyClicked() {
          this.setState((state) => {
            return { show: !state.show, options: state.options };
          });
        }

        // onPrevClicked uses the api within the spritespin component to stop the animation and go back 1 frame
        onPrevClicked() {
          if (this.ssc) {
            this.ssc.api.stopAnimation();
            this.ssc.api.prevFrame();
          }
        }

        // onNextClicked uses the api within the spritespin component to stop the animation and go forward 1 frame
        onNextClicked() {
          if (this.ssc) {
            this.ssc.api.stopAnimation();
            this.ssc.api.nextFrame();
          }
        }

        // onToggleClicked uses the api within the spritespin component to toggle the animation playback
        onToggleClicked() {
          if (this.ssc) {
            this.ssc.api.toggleAnimation();
          }
        }

        // onFullscreenClicked uses the api within the spritespin component to enable fullscreen
        onFullscreenClicked() {
          if (this.ssc) {
            this.ssc.api.requestFullscreen();
          }
        }

        render() {
          return React.createElement('div', {},
            React.createElement('div', { className: "btn-group" },
              React.createElement('button', {
                className: "btn btn-primary",
                onClick: this.onCreateDestroyClicked.bind(this)
              }, "CREATE | DESTROY"),

              React.createElement('button', {
                className: "btn btn-primary",
                onClick: this.onPrevClicked.bind(this)
              }, "PREV"),

              React.createElement('button', {
                className: "btn btn-primary",
                onClick: this.onNextClicked.bind(this)
              }, "NEXT"),

              React.createElement('button', {
                className: "btn btn-primary",
                onClick: this.onToggleClicked.bind(this)
              }, "TOGGLE"),

              React.createElement('button', {
                className: "btn btn-primary",
                onClick: this.onFullscreenClicked.bind(this)
              }, "FULLSCREEN"),
            ),

            this.state.show ? React.createElement(SpriteSpinComponent, {
              options: this.options,
              ref: (ssc) => {
                this.ssc = ssc;
              }
            }) : null,
          )
        }
      }

      ReactDOM.render(
        React.createElement(ParentComponent, {}),
        document.querySelector('#spritespin-example')
      );
