extends /_layouts/_page
mixin snippet(lang)
  .mb-3.bg-dark: pre.container: code(class="language-"+lang)
    block
block content
  .container
    h1.text-center.fw-bold.display-2.my-4.py-4 How To
    hr
    p Reference the SpriteSpin script from CDN in your html
  +snippet('html')
    = "<script src='https://unpkg.com/spritespin@x.x.x/release/spritespin.js' type='text/javascript'></script>"

  .container
    p Define an html element where SpriteSpin should live
  +snippet('html')
    = "<div id='my-spritespin'></div>"

  .container: p Initialize the plugin
  +snippet('js')
    include ./_snippets/_basic-create.js

  .container: p To update an existing instance
  +snippet('js')
    include ./_snippets/_basic-update.js

  .container: p To destroy an existing instance
  +snippet('js')
    include ./_snippets/_basic-destroy.js
  .container
    h2 Options
