extends ../layouts/default.jade
block content
  #examples-page 
    nav.sample-menu
      ul
        li: a(href="#basic-usage.html") Basic usage
        li: a(href="#sprite-sheet.html") Sprite sheet
        li: a(href="#3d-view.html") 3D view
        li: a(href="#ease-and-blur.html") Ease and blur
        li: a(href="#ease-and-blur3d.html") Ease and blur (3d)
        li: a(href="#sizing.html") Size mode
        li: a(href="#zoom.html") Zoom
        li: a(href="#fullscreen.html") Fullscreen
        li: a(href="#fullscreen-sheet.html") Fullscreen (spritesheet)
        li: a(href="#responsive.html") Responsive

        li: a(href="#alternative-gallery.html") Gallery
        li: a(href="#alternative-panorama.html") Panorama
        
    section.sample-frame
      iframe(allowfullscreen=true)
    script(type="text/javascript").
      SpriteSpinPage.bootSampleMenu({
        prefix: '/examples/sample-',
        links: '.sample-menu a',
        iframe: '.sample-frame iframe'
      });
block disqus
  span
  
