extends ../layouts/example.jade
block source
  a(name="Remarks")
  .padding
    p.
      The panorama view shows a wide shot image that is then scrolled horizontally.
      To create a panorama view, the <strong>panorama</strong> module must be added to the <strong>mods</strong> parameter
      The <strong>width</strong> option specifies the width of the display container, not the width of a frame as seen
      above.
  a(name="Html" index=3)
  viewcode
  a(name="Javascript")
  script(type='text/javascript').
    $(function(){
      $('.spritespin').spritespin({
        source: '/images/panorama.jpg',
        // this sets the width of the display. The panorama image must be larger
        width: 600,
        height: 300,
        // select the modules 
        mods: [
          // change frame on mouse drag
          'drag',  
          // enable the easing module. this will ease out the animation 
          // after mouse release, instead of a hard stop
          'ease', 
          // the panorama display module
          'panorama'
        ]
      });
    });
