extends ../layouts/example.jade
block source
  a(name="Remarks")
  .padding
    p.
      A sprite sheet contains all the image frames within a single image. The frames must be continuously aligned
      from left to right in one or multiple rows. The sprite sheet initialization requires two additional
      parameters. The total number of used frames and the number of frames in one row.
    p
      a(href="/images/bike6x6_big.jpg" target="_blank")
        img(src="/images/bike6x6_big.jpg" width=300)  

  a(name="Html")
  viewcode
  
  a(name="Javascript")
  script(type='text/javascript').
    $(function(){
      $('.spritespin').spritespin({
        // Set a single image url as source
        source: '/images/bike6x6_big.jpg',
        // Define the size of the display. 
        width: 480,
        height: 327,
        // The total number of frames to show. Here it is 34 although 
        // 36 images might fit into the sprite. But the last two are 
        // missing as you can see in the image
        frames: 34,
        // The number of frames in one row of the sprite sheet
        // This can often be omitted. Spritespin might calculate the right number by its own.
        framesX: 6,
        // Interaction sensitivity and direction
        sense: -1
      });
    });
