---
title: SpriteSpin
---
extends /_layouts/_example
block content
  +example
    #spritespin-example
    script(type='text/javascript' src='/release/spritespin.js')
    script(type='text/javascript').
      SpriteSpin.spritespin('#spritespin-example', {
        source: SpriteSpin.sourceArray('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', { frame: [1,34], digits: 3 }),
        width: 480,
        height: 327,
        sense: -1,
        animate: false,
        plugins: [
          'drag', // changes frame on drag
          'inertia', // eases out an animation after mouse is released
          '360',  // display array or sprite of images
          'blur'  // adds and fades additional frames to somulate blur
        ]
      })
