---
title: Basics
weight: 1
---
extends /_layouts/_example
block content
  script(type='text/javascript' src=spritespinSrc)
  :markdown-it
    To create a flipbook animation from an array of images, the minimal setup looks as follows
  +example
    #spritespin-example-1
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example-1',
        source: [
          'http://spritespin.ginie.eu/images/rad_zoom_001.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_002.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_003.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_004.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_005.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_006.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_007.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_008.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_009.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_010.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_011.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_012.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_013.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_014.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_015.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_016.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_017.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_018.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_019.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_020.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_021.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_022.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_023.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_024.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_025.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_026.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_027.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_028.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_029.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_030.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_031.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_032.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_033.jpg',
          'http://spritespin.ginie.eu/images/rad_zoom_034.jpg',
        ],
      })
  :markdown-it
    The code can be reduced if the source file names follow a pattern
  +example
    #spritespin-example-2
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example-2',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', {
          frame: [1,34], digits: 3
        }),
      })
  :markdown-it
    If you interact with the SpriteSpin you might think that the animation is reversed and should turn the other way.
    In this case just inverse the `sense` option
  +example
    #spritespin-example-3
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example-3',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', {
          frame: [1,34], digits: 3
        }),
        sense: -1
      })
  :markdown-it
    The size of the container can be constrained either by passing a fixed `width` and `height` options.
    In this case the layout is fixed and will not be responsive any more.
  +example
    #spritespin-example-4
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example-4',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', {
          frame: [1,34], digits: 3
        }),
        width: 200,
        height: 200,
        sense: -1
      })
  :markdown-it
    or simply by CSS
  +example
    style.
      #spritespin-example-5 {
        max-width: 200px;
      }
    #spritespin-example-5
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example-5',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', {
          frame: [1,34], digits: 3
        }),
        sense: -1
      })
  :markdown-it
    Sometimes images take too long to preload. If SpriteSpin does not know the final aspect ratio
    it causes a layout shift after the images are loaded and the final image size is known. To fix this
    give SpriteSpin a hint about the final image size by passing the `frameWidth` and `frameHeight` options.
    You are still free to constrain the container size via CSS and dont loose the responsive layout capability.
  +example
    #spritespin-example-6
    script(type='text/javascript').
      SpriteSpin.create({
        target: '#spritespin-example-6',
        source: SpriteSpin.source('http://spritespin.ginie.eu/images/rad_zoom_{frame}.jpg', {
          frame: [1,34], digits: 3
        }),
        frameWidth: 480,
        frameHeight : 327,
        sense: -1
      })
