extends layouts/default.jade
block content
  .container
    h1 Download
    a(href='https://github.com/giniedp/spritespin' target='blank')
      img(src="./images/icons/github.png" width=16)
      |  source on github
    br
    a(href='./docs/spritespin.html' target='blank')
      img(src="./images/icons/source.png" width=16)
      |  annoted source code
    br
    a(href='https://github.com/giniedp/spritespin/archive/master.zip' target='blank')
      img(src="./images/icons/zipped.png" width=16)
      |  download zip
    hr
    h2 Bower
    code.
      $ bower install spritespin
    hr
    h2 cdnjs
    p
      span Spritespin is also hosted on cdnjs
      a(href='https://cdnjs.com/libraries/spritespin' target='blank')  here

    hr
    h1 License
    span Code licensed under the
    a(href='http://opensource.org/licenses/MIT' target='_blank')  MIT license
