extends layouts/example.jade
block html
  .spritespin
block script
  script(type='text/javascript').
    $(function(){
      $('.spritespin').spritespin({
        source: 'images/panorama.jpg',
        width: 600,
        height: 300,
        mods: ['drag', 'ease', 'panorama']
      });
    });
