extends layouts/example.jade
block html
  .spritespin
block script
  script(type='text/javascript').
    $(function(){
      $('.spritespin').spritespin({
        source: 'images/bike6x6_big.jpg',
        width: 480,
        height: 327,
        frames: 34,
        framesX: 6,
        sense: -1,
        animate: false,
        renderer: 'canvas'
      });
    });