extends layouts/example.jade
block html
  .spritespin
block script
  script(type='text/javascript').
    $(function(){
      $('.spritespin').spritespin({
        source: SpriteSpin.sourceArray('http://lorempixel.com/240/164/sports/{frame}/', { frame: [1,10], digits: 1 }),
        width: 240,
        height: 164,
        sense: -1,
        animate: false,
        wrap: false,
        mods: ['swipe', 'gallery']
      });
    });
