extends layouts/example.jade
block script
  script(type='text/javascript').
    $(function(){
      $('.spritespin').spritespin({
        source: SpriteSpin.sourceArray('images/rad_zoom_{frame}.jpg', { frame: [1,34], digits: 3 }),
        width: 240,
        height: 164,
        sense: -1,
        mods: ['move', 'zoom', '360'],
        behavior: null,
        module: null
      });
    });
