$enable-responsive-font-sizes: true;
$dark: #181818;

@import "bootstrap/scss/bootstrap";
@import "./_style/common";
@import "./_style/docs-page";
@import "./_style/example-page";

#main-page {
  .teaser-text {
    max-width: 60%;
  }
}
